body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/


/*	HEADER	*/

header{
	border-bottom:1px #ccc solid;
	background: #efefef;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.articlelist{
    padding-bottom:  1rem;
    margin-bottom:  2rem;
    border-bottom: solid 0.5px #9f9e98;

    margin-top:  1rem;
}

.prix {
	height: 50px;
    width: 100%;
	border-radius: 10%;
	text-align: center;
	font-size: 30px;
	background: #f5b322;
    vertical-align: middle;
    margin: 0px;
    position:relative;
    ;
}

.autretotaux {
    height: 35px;
    width: 100%;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    background:#ffbbc5;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 2px;
}

.totalcommande {
    height: 40px;
    width: 100%;
    border-radius: 10%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    background:#E3435E;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 2px;
}

.croixrouge{
    font-size: 20px;
    color : #E3435E;

}



.divtotalarticles, .divfraisport{
    border-top: solid 2px #ffbbc5;
    padding-top: 10px;

}

.divtotalcommand{
    border-top: solid 5px #E3435E;
    padding-top: 10px;

}

.QtéHelp{
    color : #fffbff;
    background: #E3435E;
}

.big-checkbox {
    width: 25px;
    height: 25px;
    position: relative;
}

/*	FOOTER */

footer .container-fluid{
	background: #9f9e98;
	padding: 15px 0;
    margin-top: 10px;
}
