body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/


/*	HEADER	*/

header{
	border-bottom:1px #ccc solid;
	background: #efefef;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.prix {
	height: 125px;
    width: 125px;
	border-radius: 50%;
	text-align: center;
	font-size: 60px;
	background:#33adcc;
    vertical-align: middle;
}



/*	FOOTER */

footer .container-fluid{
	background:#00545c;
	padding: 15px 0;
}
